.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* GameRoom.js parent div */
.Game {
  background-size: cover;
  margin: 0;
  height: 100vh;
}

/* GameRoom.js Background */
.backgroundColorred {
  background-image: url("./assets/backgrounds/bgR.png");
}

.backgroundColorgreen {
  background-image: url("./assets/backgrounds/bgG.png");
}

.backgroundColorblue {
  background-image: url("./assets/backgrounds/bgB.png");
}

.backgroundColoryellow {
  background-image: url("./assets/backgrounds/bgY.png");
}

/* UNO Cards */
.Card {
  width: 6rem;
  margin: 2px;
  cursor: pointer;
}
